body {
	font-family: Open Sans, sans-serif !important;
	margin: 25px auto 25px auto;
}
.override-list {
	height: 450px;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow-x: scroll;
	margin-bottom: 10px;
}

.override-list li {
	margin: 8px 20px 0px 0px;
	cursor: pointer;
}

.header {
	color: white;
	background-color: #d32f2f;
	font-size: 28px;
	min-height: 90px;
	text-align: left;
}

#search-input-field {
	color: white;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	width: 100%;
	padding: 10px;
}

#search-input-field::placeholder {
	color: white;
}

.search-bar {
	width: 100%;
	min-width: 250px;
}

.search-icon {
	position: absolute;
	margin-top: 3px;
	min-width: 40px;
	margin-left: 210px;
}

#search-bar-container {
	margin-right: 100px;
}

.footer-section {
	background-color: #e7e7e7;
	padding: 15px;
}

.footer-url-display {
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 5px;
	margin-right: 32px;
}

.override-selected {
	background-color: #fefdca;
	font-weight: bold;
	max-width: 25px;
}

.footer-override-display {
}

.footer-override-display li {
	background-color: rgba(255, 255, 255, 0.75);
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

.footer-override-list li {
	cursor: pointer;
}

.main-page-container {
	width: 60%;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
}

.override-display-conatiner {
	width: 60%;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	width: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.url-copied {
	margin: 15px 0px 5px 0px;
	color: #35977a;
	font-weight: bold;
}

.override-list-item:hover {
	background-color: rgb(241, 236, 236);
}

h2 {
	font-weight: bold;
	font-size: 22px;
}

.footer-label {
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 20px;
}

.footer-container {
	margin-left: 10px;
	margin-right: 5px;
}
