.override-list {
	height: 600px;
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.override-list li {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	cursor: pointer;
}

.override-list li:hover {
	background-color: rgb(241, 236, 236);
}
